.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache
.config
.dmrc
.gconf
.gnupg
.local
.mozilla
.ssh
.sudo_as_admin_successful
.viminfo
.xsession-errors*
Downloads
examples.desktop
go
vmware-tools-distrib
*.swp
